<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'teachers-add' %}"><input type="button" value=" Add a teacher "></a>

<h2>Search the teacher:</h2>
<form action="{% url 'teachers' %}" method="get">
    <input name="fn_ln_email">
    <input name="submit" type="submit">
</form>
<h2>Teachers:</h2>
{% for teacher in teachers_list %}
    <p><a href="{% url 'teachers-edit' pk=teacher.pk %}">{{ teacher.get_info }}</a></p>
{% endfor %}
</body>
</html>
