{% extends 'base.html' %}

{% block title %}
Teachers list
{% endblock title %}

{% block content %}
<a href="{% url 'teachers-add' %}"><input type="button" value=" Add a teacher "></a>

<h2>Search the teacher:</h2>
<form action="{% url 'teachers' %}" method="get">
    <input name="fn_ln_email">
    <input name="submit" type="submit">
</form>

<table border="1" width=75% align="center">
    <caption>Teachers list</caption>
    <tr>
        <th>First name</th>
        <th>Last_name</th>
        <th>Email</th>
        <th>Edition</th>
    </tr>
    {% for teacher in teachers_list %}
        <tr>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td><a href="{% url 'teachers-edit' teacher.id %}">Edit the teacher</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}
