{% extends 'base.html' %}

{% block title %}
Students list
{% endblock title %}

{% block content %}
<!--<a href="{% url 'students-add' %}"><input type="button" value=" Sign in "></a>-->
<a href="{% url 'students-reg' %}"><input type="button" value=" Sign up "></a>
<a href="{% url 'students-add' %}"><input type="button" value=" Add a student "></a>

<h2>Search the student:</h2>
<form action="{% url 'students' %}" method="get">
    <input name="first_name">
    <input name="submit" type="submit">
</form>

<table border="1" width=75% align="center">
    <caption>Students list</caption>
    <tr>
        <th>First name</th>
        <th>Last_name</th>
        <th>Group</th>
        <th>Birth date</th>
        <th>Edition</th>
    </tr>
    {% for student in students %}
        <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.group }}</td>
            <td>{{ student.birth_date }}</td>
            <td><a href="{% url 'students-edit' student.id %}">Edit the student</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}
